### Gradle ###
.gradle
**/build/
**/bin/
!**/src/**/build/
!gradle-wrapper.jar
!gradle-wrapper.properties
gradle-app.setting
.gradletasknamecache

### Kotlin ###
.kotlin

### Metals ###
.metals/

### IDEs ###
.idea/
.vscode/
.classpath
.project
.settings/

### OS ###
.DS_Store
Thumbs.db

### Logs & crash dumps ###
*.log
hs_err_pid*
replay_pid*
*.hprof

### Local env / secrets ###
.env
local.properties

### Editor swap files ###
*~
*.swp

### Devenv ###
.devenv*
devenv.local.nix
devenv.local.yaml

### direnv ###
.direnv

### pre-commit ###
.pre-commit-config.yaml


HELP.md
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

